// Just the Class dependencies
@import 'card';

// Just the Class styles
@import 'announcement';
@import 'module';
@import 'schedule';
@import 'staffer';

// Overrides
.maincontent h6 {
  margin-top: -10px;
  font-weight: 400;
}

code {
  font-size: 14px;
  padding: 0.2em 0.4em;
  border: none;
}

iframe {
  max-width: 100%;
}

details {
  @extend .mb-4;
}

summary {
  @extend .btn, .btn-outline;

  width: 100%;
}

#main-header {
  display: none;
}

.main-header {
  display: none;
}

.main-content-wrap {
  max-width: $content-width;
  margin: auto;
}

.site-nav {
  padding-top: 0;
}

.side-bar {
  .site-header {
    border-bottom: none;
    max-height:none;
    // padding-top: 1rem;
    height:fit-content;
  }
  .site-title {
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    height:fit-content;
    font-size: 1.5rem !important;
  }
}

@media (min-width: 50rem) {
  .site-header {
    height: fit-content;
  }
}

.main-content {
  h2, h3 {
    margin-top: 0;
  }

  h6 {
    margin-top: -10px;
    font-weight: 400;
  }

  dl {
    display: block;
    grid-template-columns: none;
  }

  dt {
    font-weight: 700;
    text-align: start;

    &::after {
      content: normal;
    }
  }

  dd {
    font-weight: normal;

    + dt {
      margin-top: 1em;
    }
  }
}

img[alt=splash_img] {
  width: 100%;
  height: auto;
}

.staffer {
  display: inline-flex;
}

// Custom label colors
b, strong {
  font-weight: bold;
}

.label-peach:not(g) {
  background-color: #d5bdaf;
}

.label-rosebud:not(g) {
  background-color: #ffb5a7;
}

.label-matcha:not(g) {
  background-color: #a3b18a;
}

.label-pear:not(g) {
  background-color: #84a98c;
}

.label-forest:not(g) {
  background-color: #52796f;
}

a {
  color: #52796f;
}